{% assign projec2 = site.data.data.projec2 %}
{% if projec2 %}
<section class="section experiences-section">
  <h2 class="section-title">
    {{ projec2.title }}
  </h2>

  {% for projec2 in projec2.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ projec2.role }}</h3>
        <div class="time">{{ projec2.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ projec2.company }}</div>

    </div><!--//meta-->

    {% if projec2.details %}
    <div class="details">
      {{ projec2.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

